services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: .env
    networks:
      - app_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.gpu
    ports:
      - "8000:8000" # Expose backend API
    env_file: .env
    volumes:
      - bertopic_model:/app/model
      - ./indian_tech_articles.json:/app/indian_tech_articles.json
      - ./indian_tech_videos.json:/app/indian_tech_videos.json
      - ./scripts:/app/scripts
    depends_on:
      - db
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app_network

  frontend:
    build: ./frontend
    ports:
      - "3000:3000" # Expose React app on port 3000
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  postgres_data:
  bertopic_model:

networks:
  app_network:
    driver: bridge
